@font-face {
    font-family: 'anton';
    src: url('assets/fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: 'manrope';
    src: url('assets/fonts/Manrope-VariableFont_wght.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}